RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !^.*/index\.php
RewriteRule ^(.*)$ /BrokenAccessControl/index.php [L,QSA]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{REQUEST_FILENAME} .*php
RewriteCond %{REQUEST_FILENAME} !.*/index\.php
RewriteRule ^(.*)$ /BrokenAccessControl/index.php [L,QSA]