.sign-in-wrapper {
    width: 500px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgrey;
    border-radius: 20px;
}

.sign-in-form-top span {
    font-size: 40px;
}

.loginbutton, .registerbutton {
    width: 200px;
    height: 40px;
    font-size: 24px;
    margin-left: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    width: 300px;
    font-size: 18px;
    margin-left: 75px;
    margin-top: 10px;
}

.sign-in-form-top {
    text-align: center;
}

.log-input-left {
    margin-left: 20px;
}

.all_user_files {
    margin: 50px auto 50px auto;
    width: 600px;
}

.logout{
    text-decoration:none;
    background-color: lightgrey;
    color:black;
    margin-top:20px;
    padding:5px;
    font-size: 18px;
    border-radius: 10px;
}

.newfiles, .documents {
    margin-top: 50px;
    background-color: lightgrey;
    border-radius: 10px;
}

.createfilebutton {
    width: 130px;
    margin-left: 20px;
}

.newfilename {
    margin-left: 20px;
}
